<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <th>Name</th>
                <th>Roll_no</th>
                <th>Address</th>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.s_name }}</td>
                    <td>{{ i.s_roll_no }}</td>
                    <td>{{ i.s_address }}</td>
                    <td><a href="{% url 'updatedata' i.id %}">Update</a></td>
                    <td><a href="{% url 'deletedata' i.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>