<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'updaterow' row.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="s_name" value="{{row.s_name}}"/>
            <input type="text" name="s_roll_no" value="{{row.s_roll_no}}"/>
            <input type="text" name="s_address" value="{{row.s_address}}"/>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>